---
import Layout from "../layouts/Layout.astro";
import Feature from "../sections/Feature.astro";
import Hero from "../sections/Hero.astro";
import NavContainer from "../sections/NavContainer.astro";
import Shorten from "../sections/Shorten.astro";
import Stats from "../sections/Stats.astro";
import CTA from "../sections/CTA.astro";
import Footer from "../sections/Footer.astro";
import "./../styles/global.css";
---

<Layout title="Bienvenido a Shortly.">
  <main>
    <NavContainer />
    <Hero />
    <Shorten />
    <Stats />
    <Feature />
    <CTA />
    <Footer />
  </main>
</Layout>
