<nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-20">
        <img src="images/logo.svg" alt="" />
        <div class="hidden space-x-8 font-bold lg:flex">
          <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
            >Características</a
          >
          <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
            >Precios</a
          >
          <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
            >Recursos</a
          >
        </div>
      </div>
      <div
        class="hidden items-center space-x-6 font-bold text-grayishViolet lg:flex"
      >
        <a href="#" class="hover:text-veryDarkViolet">Login</a>
        <a
          href="#"
          class="px-8 py-3 font-bold text-white bg-cyan rounded-full hover:opacity-70"
          >Registrarse</a
        >
      </div>
      <button
        id="menu-btn"
        class="block hamburger lg:hidden focus:outline-none"
        type="button"
      >
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
    </div>
    <div
      id="menu"
      class="absolute hidden p-6 rounded-lg bg-darkViolet left-6 right-6 top-20 z-100"
    >
      <div
        class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm"
      >
        <a href="#" class="w-full text-center">Características</a>
        <a href="#" class="w-full text-center">Precios</a>
        <a href="#" class="w-full text-center">Recursos</a>
        <a href="#" class="w-full pt-6 border-t border-gray-400 text-center"
          >Login</a
        >
        <a href="#" class="w-full py-3 text-center rounded-full bg-cyan"
          >Registrarse</a
        >
      </div>
    </div>
  </nav>

  <script>
    const btn = document.getElementById('menu-btn')
const menu = document.getElementById('menu')

btn?.addEventListener('click', navToggle)

// Toggle Mobile Menu
function navToggle() {
  btn?.classList.toggle('open')
  menu?.classList.toggle('flex')
  menu?.classList.toggle('hidden')
}
  </script>