<section id="stats" class="py-24 bg-gray-100">
    <div class="container mx-auto px-3">
      <h2 class="text-4xl mb-6 font-bold text-center">Estadísticas avanzadas</h2>
      <p class="max-w-xs mx-auto text-center text-gray-400 md:max-w-md">
        Realice un seguimiento del rendimiento de sus enlaces en la web con nuestro avanzado
        panel de estadísticas.
      </p>
    </div>
  </section>